# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
venv/
env/
.venv/

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Environment variables / secrets
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
